*.o
*.lo
*.la
Makefile
config.h
config.log
config.status
libsylph/.deps/
libsylph/.libs/
libtool
plugin/attachment_tool/.deps/
plugin/attachment_tool/.libs/
plugin/test/.deps/
plugin/test/.libs/
po/Makefile.in
po/POTFILES
src/.deps/
src/.libs/
src/sylpheed
src/sylpheed.rc
stamp-h1
